extends common/layout.pug

block body
  h1 Viseko Markup Boilerplate
  p Здесь однажды будет вёрстка крутого сайта, а пока вот так
  hr
  p Lol kek cheburek
  hr
  p Another lol kek cheburek

  figure 
    picture 
      source(
        srcset=require("@img/maxresdefault.webp")
        type="image/webp"
      )
      img(
        src=require("@img/maxresdefault.jpg"),
        alt="Картинка"
        width="300"
        height="200"
        )
    figcaption IMG

  figure 
    .css-pic
    figcaption CSS
  

